In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randint(0,100,size = (5,5)),["A","B","C","D","E"])
df

    0   1   2   3   4
A  52  86  20  41  84
B  24  62  67  39  88
C  41   7  53  68  66
D  46  17  46  51  86
E  50  44  83  11  15

In [7]:
df.loc["A":"C"]

    0   1   2   3   4
A  52  86  20  41  84
B  24  62  67  39  88
C  41   7  53  68  66

In [9]:
df[df>50]

      0     1     2     3     4
A  52.0  86.0   NaN   NaN  84.0
B   NaN  62.0  67.0   NaN  88.0
C   NaN   NaN  53.0  68.0  66.0
D   NaN   NaN   NaN  51.0  86.0
E   NaN   NaN  83.0   NaN   NaN

In [11]:
df[0]>50

A     True
B    False
C    False
D    False
E    False
Name: 0, dtype: bool

In [12]:
df = df.reset_index()

In [13]:
df

  index   0   1   2   3   4
0     A  52  86  20  41  84
1     B  24  62  67  39  88
2     C  41   7  53  68  66
3     D  46  17  46  51  86
4     E  50  44  83  11  15