In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Universities.csv")

In [3]:
df.head()

,Sector,University,Year,Completions,Geography
0,"Private for-profit, 2-year",Pima Medical Institute-Las Vegas,2016,591,Nevada
1,"Private for-profit, less-than 2-year",Healthcare Preparatory Institute,2016,28,Nevada
2,"Private for-profit, less-than 2-year",Milan Institute-Las Vegas,2016,408,Nevada
3,"Private for-profit, less-than 2-year",Utah College of Massage Therapy-Vegas,2016,240,Nevada
4,"Public, 4-year or above",Western Nevada College,2016,960,Nevada

In [7]:
df.groupby(["Year","Sector"]).mean()

                                              Completions
Year Sector
2012 Private for-profit, 2-year                204.800000
     Private for-profit, 4-year or above       158.000000
     Private for-profit, less-than 2-year      189.571429
     Private not-for-profit, 2-year            332.500000
     Private not-for-profit, 4-year or above   353.000000
     Public, 2-year                           1170.000000
     Public, 4-year or above                  2068.000000
2013 Private for-profit, 2-year                190.812500
     Private for-profit, 4-year or above       155.000000
     Private for-profit, less-than 2-year      183.000000
     Private not-for-profit, 2-year            235.500000
     Private not-for-profit, 4-year or above   338.666667
     Public, 2-year                           1633.000000
     Public, 4-year or above                  2136.166667
2014 Private for-profit, 2-year                184.812500
     Private for-profit, 4-year or above       251.000000
     Private for-profit, less-than 2-year      166.000000
     Private not-for-profit, 2-year            224.500000
     Private not-for-profit, 4-year or above   347.333333
     Public, 2-year                           2286.000000
     Public, 4-year or above                  2527.000000
2015 Private for-profit, 2-year                205.000000
     Private for-profit, 4-year or above       163.250000
     Private for-profit, less-than 2-year      203.625000
     Private not-for-profit, 2-year            212.500000
     Private not-for-profit, 4-year or above   409.333333
     Public, 2-year                           2355.000000
     Public, 4-year or above                  2676.000000
2016 Private for-profit, 2-year                205.375000
     Private for-profit, 4-year or above       124.666667
     Private for-profit, less-than 2-year      194.000000
     Private not-for-profit, 2-year            161.000000
     Private not-for-profit, 4-year or above   302.000000
     Public, 2-year                           2431.000000
     Public, 4-year or above                  2779.500000