In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(
    {
        "A" : [1,2,np.nan,4],
        "B": [5,np.nan,np.nan,8],
        "C" : [10,20,30,40]
    }
)
df

     A    B   C
0  1.0  5.0  10
1  2.0  NaN  20
2  NaN  NaN  30
3  4.0  8.0  40

In [10]:
df.dropna(axis = 1,thresh = 3)

     A   C
0  1.0  10
1  2.0  20
2  NaN  30
3  4.0  40

In [12]:
df.fillna(value = 0)

     A    B   C
0  1.0  5.0  10
1  2.0  0.0  20
2  0.0  0.0  30
3  4.0  8.0  40

In [13]:
df["A"].fillna(value = df["B"].mean())

0    1.0
1    2.0
2    6.5
3    4.0
Name: A, dtype: float64